<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="py.gov.mca.serviasuncion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/txt_nombre_aplicacion"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".InicioActivity"
            android:label="@string/txt_nombre_aplicacion"
            android:theme="@style/Theme.MyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/txt_nombre_aplicacion"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".BuscarDocActivity"
            android:label="@string/txt_nro_documento" />
        <activity
            android:name=".BuscarExpActivity"
            android:label="@string/txt_buscar_nro_exp" />
        <activity
            android:name=".MenuExpedientesActivity"
            android:label="@string/txt_menu_exp" />
        <activity
            android:name=".ListaPersonasActivity"
            android:label="@string/txt_lista_per" />
        <activity
            android:name=".ListaExpedientesActivity"
            android:label="@string/txt_lista_exp" />
        <activity android:name=".ListaMovimientosActivity"
            android:label="@string/txt_lista_mov"/>
    </application>

</manifest>